@model ChangePasswordViewModel

<div class="modal-dialog" id="change-password-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="modal-title">Đổi mật khẩu</h4>
        </div>
        <div class="modal-body" id="modal-body">
            @using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnBegin = "changePasswordBegin",
                OnSuccess = "changePasswordCallBack"
            }, new { id = "frmChangePassword" }))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Mật khẩu cũ</label>
                            @Html.PasswordFor(o => o.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mật khẩu mới</label>
                                @Html.PasswordFor(o => o.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Xác nhận mật khẩu mới</label>
                                @Html.PasswordFor(o => o.ConfirmNewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
            }
            <div id="modal-alert-container"></div>
        </div>
        <div class="modal-footer">
            <div class="col-md-2">
                <img src="~/Content/images/ajax-loader-3.gif" class="edit-loader" style="display: none" id="edit-loader" />
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <button type="button" class="btn btn-block btn-primary" id="btnChangePassword">Lưu lại</button>
            </div>
        </div>
    </div>
</div>
