body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-size: 10pt;
    line-height: 20px
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    /*min-height: 297mm;*/
    padding: 5mm 10mm 5mm 10mm;
    margin: 0 auto;
    border: 1px #000 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    /*padding: 10mm;*/
    /*min-height: 148.5mm;*/
    /*outline: 20mm #fff solid;*/
    position: relative
}

.top-bottom-margin { height: 20px;display: block}
 
@page {
    size: A4;
    margin: 0;
}
@media print {
    .top-bottom-margin {display: none}
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.pull-left {float: left}
.pull-right {float: right}
.text-center {text-align: center}
.text-right {text-align: right}
.clearfix {clear: both}

.order-detail { width: 100%;border-collapse: collapse; border: solid 1px #000}
.order-detail td { 
    border-top: dashed 1px #000;
    border-bottom: dashed 1px #000;
    border-left: solid 1px #000;
    border-right: solid 1px #000;
    padding: 0 5px;
    vertical-align: middle
}
.total-cash-table td {padding: 0 5px}
.welcome-message {margin-top: 30px;width: 190mm}